---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Behandelingen from '../components/Behandelingen.astro';
import Tarieven from '../components/Tarieven.astro';
import Contact from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
import InfoSection from '@/components/InfoSection.astro';
import Specialisatie from '@/components/Specialisatie.astro';
---

<Layout 
  title="Pedicure & Voetreflextherapeut Randwijk | Voet 4 U" 
  description="Bezoek Voet 4 U in Randwijk voor professionele voetreflextherapie, pedicure, cupping en oor-acupunctuur door Anja Jonker. Al 12 jaar uw vertrouwde praktijk."
>
  <Navbar />
  <main>
    <Hero />
    <Behandelingen />
    <Specialisatie />
    <InfoSection/>
    <Tarieven />
    <Contact />
  </main>
  <Footer />
</Layout>