---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Behandelingen from '../components/Behandelingen.astro';
import Tarieven from '../components/Tarieven.astro';
import Contact from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Voet 4 U | Randwijk">
  <Navbar />
  <main>
    <Hero />
    <Behandelingen />
    <Tarieven />
    <Contact />
  </main>
  <Footer />
</Layout>