---
import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="nl" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Voet 4 U | Praktijk voor Voetreflexmassage & Ontspanning</title>
		<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-D7YPQCXT83"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-D7YPQCXT83');
</script>
	</head>
	<body class="bg-white text-slate-900 font-['Plus_Jakarta_Sans'] antialiased">
		<slot />
	</body>
</html>